.mySegment{
    background-color: #D63F27 !important;
    
}

.myContainer
{
    width: 100% !important;
    /* height: 100%; */
}

.parent{
    /* max-height: 500px; */
    /* height: 100vh; */
    overflow: auto !important;
    /* box-sizing: border-box; */
    height: 100vh !important;


    
}
.errorDiv{
    padding: 2px !important;
}

.errorTxt{
   color:red;
}

.pointerCls:hover{
    cursor: pointer;
}

.paper{
    width: 100%;
}

.myFab{
    /* padding:30px; */
    margin: 30px;
}
.visuallyHidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1;
    margin: -1;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 20;
    width: 1;
  }

  .fullPage{
      height: 100vh !important;
      width: 100vh !important;
  }

.tableWrapper{
    /* max-height: 350px; */
    overflow: auto;
}
.mytable{
    overflow: scroll;
    /* max-height: ; */
}

.searchBar{
    border-radius:25px !important;

}
.fileDrop{
    border:1px dotted black;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .fileDropContent{
    align-content: center;
} */

.myMenu{
    color: aliceblue !important;
    text-align: center;
    margin: 2px!important;
    /* padding:0 20px 0; */
    font-size: medium;

}
/* Form ui */
form {
    max-width: 500px;
    margin: 0 auto;
  }
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    /* border-radius: 4px; */
    border: 1px solid lightgrey;
    box-shadow: lightgrey;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 10px;
  }
  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: black;
    font-size: 16px;
    font-weight: 200;
  }
  .button-ui
 {
  background-color:rgb(214, 63, 39);
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 50;
  align-self: center;
  width:50%;
  margin-right: 10px;
  
}
.select-option{
    background-color: white;
    color: black;
    text-transform: uppercase;
    border: 1px solid lightgrey;
  border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 50;
    float:left;
    
}
.wrapper {
    text-align: center;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    
}

input[type=number]{
    text-align: center;
}



body {
    /* background-image: url("/bg.jpg"); */
    /* background-color: #99ccff; */
}
.middleCenterClass{
    background-image: url('../../Images/bg2.png');
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    width: 100%;
    border: none;
    color:white;
    background-color: blue;
    border-radius: 10px;
}
.formContent{
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.tabContainer{
    padding: 10px;
    
}

.textColor{
    color: white;
}


.myVehicleForm{
    padding:50px;
   }

.icon-background{
   background-color: rgb(214, 63, 39); 
}

/* .landingPage{
    background-image: url('../images/bg2.png');
} */

/* @media screen and (max-width: 420px) {
    a{
        font-size: 11px;
    }
}

@media screen and (max-width: 320px) {
    a{
        font-size: 9px;
    }
} */